@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-matteBlack text-white;
}
/* Smooth 3D card flipping support */
[transform-style\:preserve-3d] {
  transform-style: preserve-3d;
}
[backface-visibility\:hidden] {
  backface-visibility: hidden;
}

